/* Основной контейнер */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Заголовок */
.login-page__title {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    color: #2c3e50;
}

/* Форма */
.login-page__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-page__input input {
    padding: 7px 20px;
}

/* Кнопка */
.login-page__button {
    align-self: center;
    width: 100%;
}

.TextField-InputContainer  {
    display: flex;
    align-items: center;
}